<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="vendor/jquery-1.11.2.min.js"></script>
  </head>
  <body>

    <div id="bar">
        <div class="round-button"><div class="round-button-circle"><h3>Rest</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>Jump</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WR1</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WR2</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WR3</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WL1</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WL2</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>WL3</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>C1</h3></div></div>
        <div class="round-button"><div class="round-button-circle"><h3>C2</h3></div></div>
    </div>


    <div id="creation">
      <input type="color" id="colorpicker" value="#ffffff" onChange="(currentColor = this.value)">
      <input type="button" id="Fill" value="Fill" onclick="fill(currentColor)">
      <input type="button" id="Erase" value="Erase" onclick="erase_all()">
      <input type="button" id="Save" value="Save" onclick="save()">
      <select name="pose" id="pose">
        <option value="0">Resting</option>
        <option value="1">Jumping</option>
        <option value="2">Walking Right 1</option>
        <option value="3">Walking Right 2</option>
        <option value="4">Walking Right 3</option>
        <option value="5">Walking Left 1</option>
        <option value="6">Walking Left 2</option>
        <option value="7">Walking Left 3</option>
        <option value="8">Custom 1</option>
        <option value="9">Custom 2</option>
      </select>
      <canvas id="creation_canvas" height="500px" width="500px"></canvas>
    </div>
    <div id="environment">
      <div id="info">
          <h1>Information</h1>
          <h2 id="i_x">user_x</h2>
          <h2 id="i_y">user_y</h2>
          <h2 id="i_movement">movement: Resting</h2>
      </div>
      <canvas id="environment_canvas" resize></canvas>    </div>
    </body>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/array.js"></script>
<script type="text/javascript" src="js/platform.js"></script>
<script>
  var preloaded =<%-JSON.stringify(sprites)%>
  var character_name =<%-JSON.stringify(name)%>
  var author_name =<%-JSON.stringify(author)%>
  console.log(preloaded);
  hab.init(preloaded);
  hab.start();
</script>


