<html>
    <body>
        Hello World!
        This is <%= posts[0].content + "'s" %> Site!!
    </body>

</html>





<!--<!DOCTYPE html>
<html lang="en">
  <body>
    < % for (var i = 0; i < names.length; i++) { %>
        < %= names[i] + "'s" %> Site!
    < % } %>
  </body>
</html>-->
