<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>~PixlCraft~</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link href="/style.css" rel="stylesheet">-->
  </head>
  <body>
      <form action="/go" method="get">
        <label>What's your name?</label>
        <input name="name" type="text">
        <input type='submit'>
      </form>
    </div>
  </body>
</html>
